---
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 110
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: Yes
BinPackParameters: false
DerivePointerAlignment: false
PointerAlignment: Left
FixNamespaceComments: true
IndentCaseLabels: false
IncludeBlocks: Preserve
SortIncludes: CaseSensitive
SpacesBeforeTrailingComments: 1
...
